*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

h1{
    font-size: 4rem;
    margin-bottom: 2rem;
    font-weight: 600;
}

p{
    font-family: 'Ubuntu', sans-serif;
}

/* intro section */

#intro{
    background: linear-gradient(120deg,#fff,#fff 60%,#3281ba 60%, #3281ba 100%);
}

/* Navbar */

.nav-item{
    display: flex;
    list-style-type: none;
    padding: 0.6rem;
    text-align: center;
    align-items: center;
}

.logo{
    font-family: 'Dancing Script', cursive;
    font-size: 1.7rem;
    font-weight: bold;
    margin-left: 5rem;
    margin-right: 15rem;
    cursor: context-menu;
}

.nav-link a{
    
    margin: 0 0.8rem;
    color : #333;
    font-weight: 500;
}

.nav-link :hover{
    color: #9bbedf;
}

/* content */

.container-css{
    padding: 3rem 5rem;
}

.profile-pic{
    width: 25rem;  
    margin-left: 5rem;
    border-radius: 5%;
}

.intro-text{
    font-size: 1.5rem;
}

.intro-text span{
    font-weight: 550;
}

.col h5{
    color: #787878;
}
.connect{
    margin-top: 2.75rem;
}

.connect-icon{
    margin: 0.25rem;
}

.dow-button{
    margin: 1rem 0;
    padding: 0.8rem;
    align-items: center;
    text-align: center;
    border-radius: 100px;
}

.dow-icon{
    margin: 0 7px;
}


/* experience section */

#experience{
    background: rgb(81,150,229);
    padding: 2.5rem;
    overflow: hidden;
}

.experience-heading{
    text-align: center;
    color: #fff;
}

.experience-row{
    justify-content: center;
}

.work {
    margin: 5rem;
    padding: 1.25rem;
    width: 29.875rem;
    background: rgba( 255, 255, 255, 0.5 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    position: relative;
}

.row-1{
    opacity: 0;
    right: 400px;
    transition: opacity 1.5s ease-in-out, right 1.5s ease-out;
}

.row-1-animation{
    right: 0;
    opacity: 1;
}

.row-2{
    opacity: 0;
    left: 400px;
    transition: opacity 1.5s ease-in-out, left 1.5s ease-out;
}

.row-2-animation{
    left: 0;
    opacity: 1;
}


.work section::before{
    content: "";
    position: absolute;
    z-index: -1;
    background: rgba( 255, 255, 255, 0.8);
    height: 150px;
    width: 150px;
    border-radius: 100%;
    left: -40px;
    top: -30px;
}


.work section::after{
    content: "";
    position: absolute;
    z-index: -1;
    background: rgba( 255, 255, 255, 0.8);
    height: 100px;
    width: 100px;
    border-radius: 100%;
    right: -50px;
    bottom: -50px;
}

.details .company-name{
    font-size: 2rem;
    display: block;
    font-weight: 600;
    cursor: context-menu;
}

.description{
    margin-top: 0.375rem;
}

.description .post{
    font-size: 1.2rem;
    font-weight: 550;
}

.description li{
    margin-top: 0.375rem;
    font-family: 'Ubuntu', sans-serif;
}


/* skills section */

#skills{
    padding: 2.5rem;
    background: linear-gradient(145deg, #d9d9dc, #ffffff);
}

.skill-heading{
    text-align: center;
}

.skill-row{
    justify-content: center;
    margin: 0;
}


.skill-cards{
    box-shadow:  9px 9px 10px #b3b3b6,
             -9px -9px 10px #ffffff;
    border-radius: 21px;
    height: 420px;
    width: 300px;
    margin: 5rem 5rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.outer{
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
                inset -4px -4px 6px -1px rgba(225, 225, 225, 0.7),
                -0.5px -0.5px 0px rgba(225, 225, 225, 1),
                0.5px 0.5px 0px rgba(0, 0, 0, 0.15);

    border-radius: 50%;
    width: 160px;
    height: 160px;
    padding: 20px;
    margin-bottom: 10px;
}


.inner{
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
                -6px -6px 10px -1px rgba(225, 225, 225, 0.7);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

svg{
    position: absolute;
}

circle{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 14px;
    stroke-dasharray: 430;    /* here this value is changed from 438 to 430 for better representation*/
    stroke-dashoffset: 430;
    /* animation: anim 2s linear forwards; */   /* this is left here for future refrence this line enables animation and it is now injected through JS*/ 
}

.number{
    font-weight: 600;
    font-size: 20px;
}

.skill-name{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 5px;
    cursor: context-menu;
}


@keyframes anim{
    100%{
        stroke-dashoffset: var(--stroke-dashoffset);
    }
}

/* responsive */

@media (max-width:1042px) and (min-width:990px){
    .profile-pic{
        width: 25rem;
        height: auto;
    }
    #intro{
    background: linear-gradient(120deg,#fff,#fff 60%,#3281ba 60%, #3281ba 100%);
    }
}

@media (max-width:990px)and (min-width: 768px){
    #intro{
        background: linear-gradient(120deg,#fff,#fff 60%,#3281ba 60%, #3281ba 100%);
    }
    h1{
        font-size: 3rem;
    }

    .logo{
        margin-right: 9rem;
    }
    .profile-pic{
        width: 20rem;
        height: auto;
        margin-left: 1rem;
    }

    /* experience section */
    .experience-heading{
        font-size: 4rem;
    }

    /* skills section */
    .skill-heading{
        font-size: 4rem;
    }
}

@media (max-width: 767px){
    #intro{
        background: #fff;
    }

    h1{
        font-size: 3rem;
        margin-bottom: 1rem;
    }
    
    /* navbar */

    .nav-item{
        justify-content: center;
    }

    .logo{
        font-size: 1.2rem;
        margin-left: 0;
        margin-right: 1.5rem;
    }

    .nav-link a{
        margin: 0;
        font-size: 0.8em;
        
    }

    /* content */


    .container-css{
        text-align: center;
        padding: 1rem 2rem;
    }

    .intro-text{
        font-size: 1.3rem;
    }

    .profile-pic{
        margin-left: 0;
        width: 15rem;
        height: auto;
        border-radius: 100%;
    }

    /* experience section */
    .work{
        margin: 3rem 5rem;
    }
    .work section::after{
        right: -29px;
    }
    .experience-heading{
        font-size: 3rem;
    }

    /* skill section */
    .skill-cards{
        margin: 3rem 5rem 1rem;
    }

    .skill-heading{
        font-size: 3rem;
    }

}