*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

h1{
    font-size: 4rem;
    margin-bottom: 2rem;
    font-weight: 600;
}

p{
    font-family: 'Ubuntu', sans-serif;
}

/* intro section */

#intro{
    background: linear-gradient(120deg,#fff,#fff 60%,#3281ba 60%, #3281ba 100%);
    min-height: 100vh;
}

/* Navbar */

.nav-item{
    display: flex;
    list-style-type: none;
    padding: 0.6rem;
    text-align: center;
    align-items: center;
}

.logo{
    font-family: 'Dancing Script', cursive;
    font-size: 1.7rem;
    font-weight: bold;
    margin-left: 5rem;
    margin-right: 15rem;
    cursor: context-menu;
}

.nav-link a{
    
    margin: 0 0.8rem;
    color : #333;
    font-weight: 500;
}

.nav-link :hover{
    color: #9bbedf;
}

/* content */

.container-css{
    padding: 5rem;
}

.profile-pic{
    width: 31.25rem;  
    padding-left: 6.25rem;
}

.intro-text{
    font-size: 1.5rem;
}

.intro-text span{
    font-weight: 550;
}

.col h5{
    color: #787878;
}
.connect{
    margin-top: 2.75rem;
}

.connect-icon{
    margin: 0.25rem;
}


/* experience section */

#experience{
    background: #007b98;
}

.wrapper{
    position: relative;  
}



.center-line{
    position: absolute;
    height: 100%;
    width: 4px;
    background: #fff;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
}

.row-wrapper{
    width: 280px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.75);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);  

    /* backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3); */
}




/* responsive */

@media (max-width:1042px) and (min-width:990px){
    .profile-pic{
        width: 25rem;
        height: auto;
    }
    #intro{
    background: linear-gradient(120deg,#fff,#fff 60%,#3281ba 60%, #3281ba 100%);
    min-height: 60vh;
    }
}

@media (max-width:990px)and (min-width: 767px){
    #intro{
        background: linear-gradient(120deg,#fff,#fff 60%,#3281ba 60%, #3281ba 100%);
        min-height: 20vh;

    }
    h1{
        font-size: 3rem;
    }

    .logo{
        margin-right: 9rem;
    }
    .profile-pic{
        width: 23rem;
        height: auto;
    }
}

@media (max-width: 767px){
    #intro{
        background: #fff;
    }

    h1{
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    
    /* navbar */

    .nav-item{
        margin-bottom: 0;
    }

    .logo{
        font-size: 1.2rem;
        margin-left: 0;
        margin-right: 1.5rem;
    }

    .nav-link a{
        margin: 0;
        font-size: 0.8em;
        
    }

    /* content */


    .container-css{
        text-align: center;
        padding: 1rem 2rem;
    }

    .intro-text{
        font-size: 1.1rem;
    }

    .profile-pic{
        padding-left: 0;
        width: 15rem;
        height: auto;
        border-radius: 100%;
    }
}