*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

h1{
    font-size: 4rem;
    margin-bottom: 2rem;
    font-weight: 600;
}

p{
    font-family: 'Ubuntu', sans-serif;
}

/* intro section */

#intro{
    background: linear-gradient(120deg,#fff,#fff 60%,#3281ba 60%, #3281ba 100%);
    min-height: 100vh;
}

/* Navbar */

.nav-item{
    display: flex;
    list-style-type: none;
    padding: 0.6rem;
    text-align: center;
    align-items: center;
}

.logo{
    font-family: 'Dancing Script', cursive;
    font-size: 1.7rem;
    font-weight: bold;
    margin-left: 5rem;
    margin-right: 15rem;
    cursor: context-menu;
}

.nav-link a{
    
    margin: 0 0.8rem;
    color : #333;
    font-weight: 500;
}

.nav-link :hover{
    color: #9bbedf;
}

/* content */

.container-css{
    padding: 5rem;
}

.profile-pic{
    width: 31.25rem;  
    padding-left: 6.25rem;
}

.intro-text{
    font-size: 1.5rem;
}

.intro-text span{
    font-weight: 550;
}

.col h5{
    color: #787878;
}
.connect{
    margin-top: 2.75rem;
}

.connect-icon{
    margin: 0.25rem;
}


/* experience section */

#experience{
    background: rgb(81,150,229);
    padding: 2.5rem 0;
}

.wrapper{
    position: relative;
    max-width: 1080px;
    margin: 50px auto;
    padding: 0 20px;
}

.center-line{
    position: absolute;
    height: 100%;
    width: 4px;
    background: #fff;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
}

.row-wrapper{
    display: flex;
    
}

.row-1{
    justify-content: flex-start;
}

.row-2{
    justify-content: flex-end;
}

.wrapper .row-wrapper section{
    margin: 30px;
    padding: 20px;
    /* width: calc(50% - 40px); */
    width: 29.875rem;
    background: rgba( 255, 255, 255, 0.5 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    position: relative;
}

.wrapper .row-wrapper section::before{
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: rgba( 255, 255, 255, 0.5);
    /* top: 28px; */
    z-index: -1;
    transform: rotate(45deg);
}

.row-1 section::before{
    right: -7px;
}

.row-2 section::before{
    left: -7px;
}

.details .company-name{
    font-size: 2rem;
    margin-right: 40px;
}

.description{
    margin-top: 6px;
}

.description .post{
    font-size: 1.2rem;
}

.description p{
    margin-top: 6px;
}

/* responsive */

@media (max-width:1042px) and (min-width:990px){
    .profile-pic{
        width: 25rem;
        height: auto;
    }
    #intro{
    background: linear-gradient(120deg,#fff,#fff 60%,#3281ba 60%, #3281ba 100%);
    min-height: 60vh;
    }
}

@media (max-width:990px)and (min-width: 767px){
    #intro{
        background: linear-gradient(120deg,#fff,#fff 60%,#3281ba 60%, #3281ba 100%);
        min-height: 20vh;

    }
    h1{
        font-size: 3rem;
    }

    .logo{
        margin-right: 9rem;
    }
    .profile-pic{
        width: 23rem;
        height: auto;
    }
}

@media (max-width: 767px){
    #intro{
        background: #fff;
    }

    h1{
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    
    /* navbar */

    .nav-item{
        margin-bottom: 0;
    }

    .logo{
        font-size: 1.2rem;
        margin-left: 0;
        margin-right: 1.5rem;
    }

    .nav-link a{
        margin: 0;
        font-size: 0.8em;
        
    }

    /* content */


    .container-css{
        text-align: center;
        padding: 1rem 2rem;
    }

    .intro-text{
        font-size: 1.1rem;
    }

    .profile-pic{
        padding-left: 0;
        width: 15rem;
        height: auto;
        border-radius: 100%;
    }

    /* will do while responsive */
    .center-line{
        position: relative;
    }
}